*,::before,::after{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body,html{
    height:100%;
    width:100%;
}

.centre{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body{
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: Times, "Times New Roman", Georgia, serif;
    color: black;
    font-size: 4.5vmin;
    font-weight: bold;
    cursor:default;
    background-color: green;
    background-image: url("../images/green_texture.png");
}

header{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}

header::before{
    content:"";
    background-color:rgb(250, 252, 175);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.3;
    z-index: -1;
}

#gauche_header{
    position: absolute;
    top:1vmin;
    left:1vmin;
    font-size: 90%;
}

#droite_header{
    position: absolute;
    top:0;
    bottom:0;
    margin:auto;
    right:1vmin;
    font-size: 60%;
    display: flex;
}

#bouton_règles{
    font-size: 60%;
    display: flex;
    width: 43.5%;
    margin:0.5vmin;
    border-radius: 50%;
}

.règles{
    padding:0.75vmin;
    background-color: turquoise;
    cursor: pointer;
}

#règles_jeu{
    font-size: 50%;
    position: fixed;
    top:0;
    left:0;
    right:0;
    height: 26vmin;
    display: none;
    z-index: 3;
}

#mode_jeu{
    position: absolute;
    top:1vmin;
    right:1vmin;
    font-size: 60%;
}

#centre_header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choix_pseudo{
    pointer-events: auto;
    display: flex;
    flex-direction: row;
}

#pseudo{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#action{
    display: flex;
    flex-direction: row;
    margin:0.75vmin;
}

#action > * {
    cursor:pointer;
    margin-left:2vmin;
    margin-right: 2vmin;
    padding:0.75vmin;
    background-color:violet;
    font-size: 85%;
}

#gagné{
    color:black;
}

#jeu{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    pointer-events: none;
}

#pieces{
    display: flex;
    flex-direction: column;
}

#pieces > div{
    display: flex;
    justify-content:center;
    margin-top: 0.5vmin;
    margin-bottom: 0.5vmin;
}

#plateau{
    position: relative;
    padding:0.8vmin;
    background-image: url("../images/bois_texture.png");
    background-size: cover;
    border-radius: 5%;
    box-shadow: 3px 3px 3px black;
}

#quarto{
    position: absolute;
    display: flex;
    top:0;
    left:0;
    right: 0;
    bottom:0;
    margin: auto;
    font-size: 18vmin;
    z-index:4;
}

.emplacement_piece::before{
    content:"";
    background-color:rgb(250, 252, 175);
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.3;
    z-index: 1;
    cursor: pointer;
}

.emplacement_piece {
    position: relative;
    width:13vmin;
    height:13vmin;
    margin:0.4vmin;
    border-radius: 50%;
    display: flex;
    border: 1px solid black;
    box-shadow: inset 3px 3px 3px black;
}

.pion{
    position: relative;
    padding:1.2vmin;
    width: 9vmin;
    height:9vmin;
    display: flex;
    z-index: 2;
}

.pion > .cursor_default{
    cursor: default;
}

.petit{
    width: 60%;
    height: 60%;
    cursor: pointer;
    box-shadow: 3px 3px 3px black;
}

.grand{
    width: 100%;
    height: 100%;
    cursor: pointer;
    box-shadow: 3px 3px 3px black;
}

.noir{
    background-image:url("../images/dark_stone_texture.png");
    background-size:cover;
}

.blanc{
    background-image:url("../images/white_stone_texture.png");
    background-size:cover;
}

.rond{
    border-radius: 50%;
}

.trou{
    display: flex;
}

.trou_rond{
    width: 50%;
    height: 50%;
    border-radius: 50%;
;}

.petit > .trou_rond{
    box-shadow: inset 3px 3px 0.75vmin black;
}

.grand > .trou_rond{
    box-shadow: inset 3px 3px 1.3vmin black;
}

footer{
    position:relative;
    padding:1vmin;
    font-size: 2vmin;
}

footer::before{
    content:"";
    background-color:rgb(250, 252, 175);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.3;
    z-index: -1;
}

a {
    color: black;
}

input[type="text"]{
    position:relative;
    background-color:rgb(247, 219, 163);
    width: 20vmin;
    height:4vmin;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    font-size:50%;
}
