*,::before,::after{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body,html{
    height:100%;
    width:100%;
}

body{
    background-image: url("../images/green_texture.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: Times, "Times New Roman", Georgia, serif;
    color: black;
    font-size: 4.5vmin;
    font-weight: bold;
}

header{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}

header::before{
    content:"";
    background-color:rgb(250, 252, 175);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.3;
    z-index: -1;
}

#gauche_header{
    position: absolute;
    top:1vmin;
    left:1vmin;
    font-size: 50%;
}

#droite_header{
    position: absolute;
    top:1vmin;
    right:1vmin;
    font-size: 50%;
}

#centre_header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pseudo{
    color:yellow;
}

#rejouer{
    display: flex;
    flex-direction: row;
    margin:1vmin;
}

#rejouer > * {
    margin-left:2vmin;
    margin-right: 2vmin;
    padding:1vmin;
    background-color: blueviolet;
    font-size: 70%;
}

#jeu{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#pieces{
    display: flex;
    flex-direction: column;
}

#pieces > div{
    display: flex;
    justify-content:center;
    margin-top: 0.5vmin;
    margin-bottom: 0.5vmin;
}

#plateau{
    padding:0.8vmin;
    background-image: url("../images/bois_texture.png");
    background-size: cover;
    border-radius: 5%;
    box-shadow: 3px 3px 3px black;
}

.emplacement_piece::before{
    content:"";
    background-color:rgb(250, 252, 175);
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.3;
    z-index: 1;
}

.emplacement_piece {
    position: relative;
    width:13.5vmin;
    height:13.5vmin;
    margin:0.4vmin;
    border-radius: 50%;
    display: flex;
    border: 1px solid black;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: inset 3px 3px 3px black;
}

.pion{
    position: relative;
    padding:1.2vmin;
    width: 9vmin;
    height:9vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.petit{
    width: 60%;
    height: 60%;
    box-shadow: 3px 3px 3px black;
}

.grand{
    width: 100%;
    height: 100%;
    box-shadow: 3px 3px 3px black;
}

.noir{
    background-image:url("../images/dark_stone_texture.png");
    background-size:cover;
}

.blanc{
    background-image:url("../images/white_stone_texture.png");
    background-size:cover;
}

.rond{
    border-radius: 50%;
}

.trou{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.trou_rond{
    width: 50%;
    height: 50%;
    border-radius: 50%;
;}

.petit > .trou_rond{
    box-shadow: inset 3px 3px 0.75vmin black;
}

.grand > .trou_rond{
    box-shadow: inset 3px 3px 1.3vmin black;
}

footer{
    position:relative;
    padding:1vmin;
    font-size: 2vmin;
}

footer::before{
    content:"";
    background-color:rgb(250, 252, 175);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.3;
    z-index: -1;
}

a {

    color: black;
  }